{% extends "base.html" %}



{% block content %}


<style>
    form{
        width: 500px;
        height: auto;
        padding: 20px 20px 20px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 50px auto;
        border-radius: 10px;
    }
    form p{
        text-align: center;
    }

    form h3{
        text-align: center
    }
</style>


    <form action="" method='POST'>
        {% csrf_token %}
        <h3><strong>Verify Email</strong></h3>
        <div class="mb-3">
            <label class="form-label">OTP</label>
            <input class="form-control" name="otp_code" placeholder="Enter OTP">
          </div>

          <button class="btn btn-primary" style="width:100%">Activate Account</button>
          <p>Need a new OTP? <a href="{% url 'resend-otp' %}">Resend OTP</a></p>

    </form>
{% endblock content %}
    